# Entorno Django
SECRET_KEY=cambia-esta-clave-en-produccion
DEBUG=False
ALLOWED_HOSTS=TU_IP_EC2,localhost,127.0.0.1

# Base de datos para EC2 / MySQL
DB_ENGINE=mysql
DB_NAME=pnk_inmobiliaria
DB_USER=pnk_user
DB_PASSWORD=CAMBIA_ESTA_CLAVE
DB_HOST=127.0.0.1
DB_PORT=3306
