# Entorno Django
SECRET_KEY=cambia-esta-clave-en-produccion
DEBUG=False
ALLOWED_HOSTS=98.87.42.222,localhost,127.0.0.1

# Base de datos para EC2 / MySQL
DB_ENGINE=mysql
DB_NAME=pnk_inmobiliaria
DB_USER=root
DB_PASSWORD=rem
DB_HOST=127.0.0.1
DB_PORT=3306
